<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      #biden
    </a>
    <a class="panel-block">
      #bitcoinup
    </a>
    <a class="panel-block">
      New vaccine arrives
    </a>
    <a class="panel-block">
      China implement new quantic protocol
    </a>
    <a class="panel-block">
      #sustainablefashion
    </a>
    <a class="panel-block">
      #chocolate
    </a>
  </nav>
</div>