<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>
  
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5776a952a7ea436bd18c1204%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D150%26cropX2%3D543%26cropY1%3D24%26cropY2%3D417" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Rafa Zolá</strong>
              <small>@huachipemex</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5ed6716cdd5d320006caf933%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D0%26cropX2%3D1080%26cropY1%3D0%26cropY2%3D1080" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Lady Caraza</strong>
              <small>@ladygaga9170</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://www.villageveterinaryclinic.com/sites/default/files/styles/large/adaptive-image/public/miniature-schnauzer-dog-breed-infp.jpg?itok=PYPoxjpH" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Camila ZoCa</strong>
              <small>@lamasbonita</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </nav>
</div>
