<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>
  
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Rafa Zolá</strong>
              <small>@huachipemex</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Lady Caraza</strong>
              <small>@ladygaga9170</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png" alt="user image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Camila ZoCa</strong>
              <small>@lamasbonita</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </nav>
</div>
